body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../Images/register_background.png') no-repeat center center fixed;
    background-size: cover;
}

.welcome {
    position: fixed;
    top: 0;
    text-align: center;
    padding: 20px;
    color: #084e79;
    text-shadow: 3px 3px #c3baa9;
    font-size: 28px;
    font-family: Courier New;
    animation: netflix_style 3.5s forwards;
    outline: none;
    white-space: nowrap;
    z-index: 2;
}

    .welcome h1 {
        margin: 0;
        font-size: 36px;
        line-height: 1.2;
        text-shadow: grey;
        letter-spacing: 2px;
    }


@keyframes netflix_style {
    0% {
        color: #f3f3f3;
        transform: scale(1.5, 1.5);
    }

    10% {
        color: #f3f3f3;
        transform: scale(1.5, 1.5);
    }

    15% {
        color: #f3f3f3;
    }

    20% {
        color: #084e79;
        text-shadow: none;
        transform: scale(1.1, 1.1);
    }

    75% {
        opacity: 1;
    }

    80% {
        opacity: 1;
        color: #084e79;
        transform: scale(1, 1);
    }

    100% {
        opacity: 1;
        color: #084e79;
        transform: scale(1, 1);
    }
}



.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background-color: #f7ebd6;
    color: #1d7cb6;
    border: 3px solid #c3baa9;
    margin: 20px;
    z-index: 1;
    box-shadow: 0 8px 24px #00000026;
    
}

.title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #1d7cb6;
}

    .title::before {
        width: 18px;
        height: 18px;
    }

    .title::after {
        width: 18px;
        height: 18px;
        animation: pulse 1s linear infinite;
    }

    .title::before,
    .title::after {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        border-radius: 50%;
        left: 0px;
        background-color: #1d7cb6;
    }

.message,
.signin {
    font-size: 20px;
    font-weight: bold;
    color: #1d7cb6;
}

.signin {
    text-align: center;
}

    .signin a:hover {
        text-decoration: underline royalblue;
    }

    .signin a {
        color: #1d7cb6;
    }

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form label {
    position: relative;
}

    .form label .input {
        background-color: #c3baa9;
        color: #1f2523;
        width: 100%;
        padding: 20px 05px 05px 10px;
        outline: 0;
        border: 1px solid rgba(105, 105, 105, 0.397);
        border-radius: 10px;
    }

        .form label .input + span {
            color: #1f2523;
            position: absolute;
            left: 10px;
            top: 0px;
            font-size: 0.9em;
            cursor: text;
            transition: 0.3s ease;
        }

        .form label .input:placeholder-shown + span {
            top: 12.5px;
            font-size: 0.9em;
        }

        .form label .input:focus + span,
        .form label .input:valid + span {
            color: #1f2523;
            top: 0px;
            font-size: 0.7em;
            font-weight: 600;
        }

.input {
    font-size: medium;
}

.submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color: #1d7cb6;
}

    .submit:hover {
        background-color: #1f2523;
    }




.team {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: #414246;
}

    .team:visited {
        color: #414246;
        text-decoration: none;
    }

    .team:hover {
        text-decoration: underline;
    }

.site-footer {
    margin-top: auto;
    padding: 20px;
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,0.05);
}


@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}
