body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../Images/register_background.png') no-repeat center center fixed;
    background-size: cover;
}

.lobby {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background-color: #f7ebd6;
    color: #1d7cb6;
    border: 3px solid #c3baa9;
    margin: 20px;
}
